<a href="https://colab.research.google.com/github/navaworkingspaces-collab/challengeone-data-science/blob/main/Challenge1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Challenge 1 Data Science**

##üöÄüöÄImportaci√≥n de datos

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda1 = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda3.sample(10)

,Producto,Categor√≠a del Producto,Precio,Costo de env√≠o,Fecha de Compra,Vendedor,Lugar de Compra,Calificaci√≥n,M√©todo de pago,Cantidad de cuotas,lat,lon
1148,Mesa de noche,Muebles,225600.0,14400.0,11/08/2021,Santiago Silva,Bogot√°,1,Tarjeta de cr√©dito,6,4.60971,-74.08175
998,Lavavajillas,Electrodom√©sticos,1216800.0,63000.0,08/10/2020,Juliana Costa,Cali,5,Nequi,1,3.43722,-76.52250
1838,Armario,Muebles,477000.0,25600.0,24/06/2021,Beatriz Morales,Bogot√°,5,Tarjeta de cr√©dito,1,4.60971,-74.08175
894,Lavadora de ropa,Electrodom√©sticos,1456500.0,75700.0,16/01/2020,Izabela de Le√≥n,Bogot√°,5,Nequi,1,4.60971,-74.08175
1411,Carrito de control remoto,Juguetes,82100.0,5000.0,12/07/2021,Rafael Acosta,Bogot√°,1,Nequi,1,4.60971,-74.08175
102,Impresora,Electr√≥nicos,263300.0,18800.0,19/05/2020,Lucas Olivera,Pereira,5,Tarjeta de cr√©dito,10,4.81333,-75.69611
1245,Secadora de ropa,Electrodom√©sticos,844200.0,43100.0,21/02/2020,Santiago Silva,Barranquilla,4,Tarjeta de cr√©dito,2,10.96854,-74.78132
742,Bater√≠a,Instrumentos musicales,646600.0,34900.0,28/07/2022,Blanca Ramirez,Bogot√°,1,Tarjeta de cr√©dito,6,4.60971,-74.08175
1678,Iniciando en programaci√≥n,Libros,61600.0,5700.0,11/07/2020,Juliana Costa,Riohacha,1,Nequi,1,11.54444,-72.90722
874,Bal√≥n de baloncesto,Deportes y diversi√≥n,44200.0,0.0,29/04/2020,Beatriz Morales,Medell√≠n,5,Tarjeta de cr√©dito,1,6.25184,-75.56359

##üíµüíµIngreso total por tienda

In [2]:
suma_ventas_t1 = tienda1['Precio'].sum()
suma_ventas_t2 = tienda2['Precio'].sum()
suma_ventas_t3 = tienda3['Precio'].sum()
suma_ventas_t4 = tienda4['Precio'].sum()

pd.set_option('display.float_format', '{:,.0f}'.format)

print("VENTAS POR TIENDA:\n")
print("==============================")
print(f"{'TIENDA':<15} {'VENTAS TOTALES':<15}")
print("-" * 30)

ventas_tiendas = pd.DataFrame({
    'TIENDA': ['TIENDA 1', 'TIENDA 2', 'TIENDA 3', 'TIENDA 4'],
    'VENTAS TOTALES': [suma_ventas_t1, suma_ventas_t2, suma_ventas_t3, suma_ventas_t4]
})

for index, row in ventas_tiendas.iterrows():
    print(f"{row['TIENDA']:<15} ${row['VENTAS TOTALES']:>,.0f}")


print("-" * 30)
total_general = suma_ventas_t1 + suma_ventas_t2 + suma_ventas_t3 + suma_ventas_t4
print(f"{'TOTAL GENERAL':<15} ${total_general:>,.0f}")

VENTAS POR TIENDA:

==============================
TIENDA          VENTAS TOTALES
------------------------------
TIENDA 1        $1,150,880,400
TIENDA 2        $1,116,343,500
TIENDA 3        $1,098,019,600
TIENDA 4        $1,038,375,700
------------------------------
TOTAL GENERAL   $4,403,619,200

##üí†üí†Suma de ventas por categor√≠a

In [3]:
print("CANTIDAD DE PRODUCTOS VENDIDOS POR CATEGOR√çA")
print("=" * 80)

categorias_t1 = tienda1.groupby('Categor√≠a del Producto').size()
categorias_t2 = tienda2.groupby('Categor√≠a del Producto').size()
categorias_t3 = tienda3.groupby('Categor√≠a del Producto').size()
categorias_t4 = tienda4.groupby('Categor√≠a del Producto').size()

categorias_df = pd.DataFrame({
    'Tienda 1': categorias_t1,
    'Tienda 2': categorias_t2,
    'Tienda 3': categorias_t3,
    'Tienda 4': categorias_t4
}).fillna(0)

categorias_df['Total_Categoria'] = categorias_df.sum(axis=1)

categorias_df = categorias_df.sort_values('Total_Categoria', ascending=False)

print(f"{'CATEGOR√çA':<25} {'TIENDA 1':<10} {'TIENDA 2':<10} {'TIENDA 3':<10} {'TIENDA 4':<10}")
print("-" * 80)

for categoria, row in categorias_df.iterrows():
    print(f"{categoria:<25} {int(row['Tienda 1']):<10} {int(row['Tienda 2']):<10} {int(row['Tienda 3']):<10} {int(row['Tienda 4']):<10}")

print("-" * 80)
total_t1 = int(categorias_df['Tienda 1'].sum())
total_t2 = int(categorias_df['Tienda 2'].sum())
total_t3 = int(categorias_df['Tienda 3'].sum())
total_t4 = int(categorias_df['Tienda 4'].sum())

print(f"{'TOTAL POR TIENDA':<25} {total_t1:<10} {total_t2:<10} {total_t3:<10} {total_t4:<10}")

CANTIDAD DE PRODUCTOS VENDIDOS POR CATEGOR√çA
================================================================================
CATEGOR√çA                 TIENDA 1   TIENDA 2   TIENDA 3   TIENDA 4
--------------------------------------------------------------------------------
Muebles                   465        442        499        480
Electr√≥nicos              448        422        451        451
Juguetes                  324        313        315        338
Electrodom√©sticos         312        305        278        254
Deportes y diversi√≥n      284        275        277        277
Instrumentos musicales    182        224        177        170
Libros                    173        197        185        187
Art√≠culos para el hogar   171        181        177        201
--------------------------------------------------------------------------------
TOTAL POR TIENDA          2359       2359       2359       2358

##üëçüëçValoraci√≥n promedio por tienda

In [4]:
print("VALORACI√ìN POR TIENDA")
print("=" * 25)

promedio_t1 = tienda1['Calificaci√≥n'].mean()
promedio_t2 = tienda2['Calificaci√≥n'].mean()
promedio_t3 = tienda3['Calificaci√≥n'].mean()
promedio_t4 = tienda4['Calificaci√≥n'].mean()

calificaciones_promedio = pd.DataFrame({'TIENDA': ['TIENDA 1', 'TIENDA 2', 'TIENDA 3', 'TIENDA 4'],
                                        'VALORACI√ìN PROMEDIO': [promedio_t1, promedio_t2, promedio_t3, promedio_t4]})

calificaciones_promedio['VALORACI√ìN PROMEDIO'] = calificaciones_promedio['VALORACI√ìN PROMEDIO'].round(2)

calificaciones_promedio = calificaciones_promedio.sort_values('VALORACI√ìN PROMEDIO', ascending=False)


for index, row in calificaciones_promedio.iterrows():
    print(f"{row['TIENDA']:<10} {row['VALORACI√ìN PROMEDIO']:>6.2F}")

VALORACI√ìN POR TIENDA
=========================
TIENDA 3     4.05
TIENDA 2     4.04
TIENDA 4     4.00
TIENDA 1     3.98

##Productos ‚¨ÜÔ∏è‚¨ÜÔ∏èm√°s y ‚¨áÔ∏è‚¨áÔ∏èmenos vendidos

In [5]:
print("AN√ÅLISIS DE PRODUCTOS POR TIENDA")
print("=" * 147)

# M√ÅS VENDIDOS
print("\nTOP 5 PRODUCTOS M√ÅS VENDIDOS")
print("-" * 147)

mas_vendidos_t1 = tienda1.groupby('Producto').size().sort_values(ascending=False).head(5)
mas_vendidos_t2 = tienda2.groupby('Producto').size().sort_values(ascending=False).head(5)
mas_vendidos_t3 = tienda3.groupby('Producto').size().sort_values(ascending=False).head(5)
mas_vendidos_t4 = tienda4.groupby('Producto').size().sort_values(ascending=False).head(5)

lista_t1_mas = list(mas_vendidos_t1.items())
lista_t2_mas = list(mas_vendidos_t2.items())
lista_t3_mas = list(mas_vendidos_t3.items())
lista_t4_mas = list(mas_vendidos_t4.items())

max_longitud_t1_mas = max([len(producto) for producto, _ in lista_t1_mas]) if lista_t1_mas else 0
max_longitud_t2_mas = max([len(producto) for producto, _ in lista_t2_mas]) if lista_t2_mas else 0
max_longitud_t3_mas = max([len(producto) for producto, _ in lista_t3_mas]) if lista_t3_mas else 0
max_longitud_t4_mas = max([len(producto) for producto, _ in lista_t4_mas]) if lista_t4_mas else 0

ancho_producto_mas = max(15, max_longitud_t1_mas, max_longitud_t2_mas, max_longitud_t3_mas, max_longitud_t4_mas) + 2

print(f"{'TIENDA 1':<{ancho_producto_mas+7}} {'TIENDA 2':<{ancho_producto_mas+9}} {'TIENDA 3':<{ancho_producto_mas+7}} {'TIENDA 4':<{ancho_producto_mas+7}}")
print(f"{'PRODUCTO':<{ancho_producto_mas}} {'UNID':<6} {'PRODUCTO':<{ancho_producto_mas}} {'UNID':<8} {'PRODUCTO':<{ancho_producto_mas}} {'UNID':<6} {'PRODUCTO':<{ancho_producto_mas}} {'UNID':<6}")
print("-" * (ancho_producto_mas+10)*4)

for i in range(5):
    if i < len(lista_t1_mas):
        producto1, cantidad1 = lista_t1_mas[i]
        linea_t1 = f"{producto1:<{ancho_producto_mas}} {cantidad1:>4}"
    else:
        linea_t1 = f"{'':<{ancho_producto_mas}} {'':>4}"

    if i < len(lista_t2_mas):
        producto2, cantidad2 = lista_t2_mas[i]
        linea_t2 = f"{producto2:<{ancho_producto_mas}} {cantidad2:>4}"
    else:
        linea_t2 = f"{'':<{ancho_producto_mas}} {'':>4}"

    if i < len(lista_t3_mas):
        producto3, cantidad3 = lista_t3_mas[i]
        linea_t3 = f"{producto3:<{ancho_producto_mas}} {cantidad3:>4}"
    else:
        linea_t3 = f"{'':<{ancho_producto_mas}} {'':>4}"

    if i < len(lista_t4_mas):
        producto4, cantidad4 = lista_t4_mas[i]
        linea_t4 = f"{producto4:<{ancho_producto_mas}} {cantidad4:>4}"
    else:
        linea_t4 = f"{'':<{ancho_producto_mas}} {'':>4}"

    print(f"{linea_t1}    {linea_t2}    {linea_t3}    {linea_t4}")

# MENOS VENDIDOS
print("\n\nTOP 5 PRODUCTOS MENOS VENDIDOS")
print("-" * 147)

menos_vendidos_t1 = tienda1.groupby('Producto').size().sort_values(ascending=True).head(5)
menos_vendidos_t2 = tienda2.groupby('Producto').size().sort_values(ascending=True).head(5)
menos_vendidos_t3 = tienda3.groupby('Producto').size().sort_values(ascending=True).head(5)
menos_vendidos_t4 = tienda4.groupby('Producto').size().sort_values(ascending=True).head(5)

lista_t1_menos = list(menos_vendidos_t1.items())
lista_t2_menos = list(menos_vendidos_t2.items())
lista_t3_menos = list(menos_vendidos_t3.items())
lista_t4_menos = list(menos_vendidos_t4.items())

max_longitud_t1_menos = max([len(producto) for producto, _ in lista_t1_menos]) if lista_t1_menos else 0
max_longitud_t2_menos = max([len(producto) for producto, _ in lista_t2_menos]) if lista_t2_menos else 0
max_longitud_t3_menos = max([len(producto) for producto, _ in lista_t3_menos]) if lista_t3_menos else 0
max_longitud_t4_menos = max([len(producto) for producto, _ in lista_t4_menos]) if lista_t4_menos else 0

ancho_producto_menos = max(15, max_longitud_t1_menos, max_longitud_t2_menos, max_longitud_t3_menos, max_longitud_t4_menos) + 2

print(f"{'TIENDA 1':<{ancho_producto_menos+7}} {'TIENDA 2':<{ancho_producto_menos+9}} {'TIENDA 3':<{ancho_producto_menos+7}} {'TIENDA 4':<{ancho_producto_menos+7}}")
print(f"{'PRODUCTO':<{ancho_producto_menos}} {'UNID':<6} {'PRODUCTO':<{ancho_producto_menos}} {'UNID':<8} {'PRODUCTO':<{ancho_producto_menos}} {'UNID':<6} {'PRODUCTO':<{ancho_producto_menos}} {'UNID':<6}")
print("-" * (ancho_producto_menos+10)*4)

for i in range(5):
    if i < len(lista_t1_menos):
        producto1, cantidad1 = lista_t1_menos[i]
        linea_t1 = f"{producto1:<{ancho_producto_menos}} {cantidad1:>4}"
    else:
        linea_t1 = f"{'':<{ancho_producto_menos}} {'':>4}"

    if i < len(lista_t2_menos):
        producto2, cantidad2 = lista_t2_menos[i]
        linea_t2 = f"{producto2:<{ancho_producto_menos}} {cantidad2:>4}"
    else:
        linea_t2 = f"{'':<{ancho_producto_menos}} {'':>4}"

    if i < len(lista_t3_menos):
        producto3, cantidad3 = lista_t3_menos[i]
        linea_t3 = f"{producto3:<{ancho_producto_menos}} {cantidad3:>4}"
    else:
        linea_t3 = f"{'':<{ancho_producto_menos}} {'':>4}"

    if i < len(lista_t4_menos):
        producto4, cantidad4 = lista_t4_menos[i]
        linea_t4 = f"{producto4:<{ancho_producto_menos}} {cantidad4:>4}"
    else:
        linea_t4 = f"{'':<{ancho_producto_menos}} {'':>4}"

    print(f"{linea_t1}    {linea_t2}    {linea_t3}    {linea_t4}")

AN√ÅLISIS DE PRODUCTOS POR TIENDA
===================================================================================================================================================

TOP 5 PRODUCTOS M√ÅS VENDIDOS
---------------------------------------------------------------------------------------------------------------------------------------------------
TIENDA 1                           TIENDA 2                             TIENDA 3                           TIENDA 4
PRODUCTO                    UNID   PRODUCTO                    UNID     PRODUCTO                    UNID   PRODUCTO                    UNID
----------------------------------------------------------------------------------------------------------------------------------------------------
Armario                       60    Iniciando en programaci√≥n     65    Kit de bancas                 57    Cama box                      62
TV LED UHD 4K                 60    Microondas                    62    Mesa de comedor               56    Cuberter√≠a                    59
Microondas                    60    Bater√≠a                       61    Cama king                     56    Cama king                     56
Secadora de ropa              58    Pandereta                     58    Set de ollas                  55    Dashboards con Power BI       56
Mesa de noche                 56    Guitarra ac√∫stica             58    Mesa de noche                 55    Carrito de control remoto     55


TOP 5 PRODUCTOS MENOS VENDIDOS
---------------------------------------------------------------------------------------------------------------------------------------------------
TIENDA 1                             TIENDA 2                               TIENDA 3                             TIENDA 4
PRODUCTO                      UNID   PRODUCTO                      UNID     PRODUCTO                      UNID   PRODUCTO                      UNID
------------------------------------------------------------------------------------------------------------------------------------------------------------
Auriculares con micr√≥fono       33    Juego de mesa                   32    Bloques de construcci√≥n         35    Guitarra el√©ctrica              33
Celular ABXY                    33    Impresora                       34    Set de vasos                    36    Armario                         34
Olla de presi√≥n                 35    Mesa de comedor                 34    Mochila                         36    Guitarra ac√∫stica               37
Pandereta                       36    Sill√≥n                          35    Microondas                      36    Ciencia de datos con Python     38
Ciencia de datos con Python     39    Auriculares                     37    Vaso t√©rmico                    38    Lavadora de ropa                38

##Valor del env√≠o promedio üööüöö

In [6]:
print("VALOR DEL ENV√çO PROMEDIO")
print("=" * 30)

promedio_envio_t1 = tienda1['Costo de env√≠o'].mean()
promedio_envio_t2 = tienda2['Costo de env√≠o'].mean()
promedio_envio_t3 = tienda3['Costo de env√≠o'].mean()
promedio_envio_t4 = tienda4['Costo de env√≠o'].mean()

promedio_general = (promedio_envio_t1 + promedio_envio_t2 + promedio_envio_t3 + promedio_envio_t4) / 4

envio_promedio_df = pd.DataFrame({
    'TIENDA': ['TIENDA 1', 'TIENDA 2', 'TIENDA 3', 'TIENDA 4', 'PROMEDIO GENERAL'],
    'VALOR PROMEDIO ENV√çO': [promedio_envio_t1, promedio_envio_t2, promedio_envio_t3, promedio_envio_t4, promedio_general]
})

envio_promedio_df['VALOR PROMEDIO ENV√çO'] = envio_promedio_df['VALOR PROMEDIO ENV√çO'].round(0)

for index, row in envio_promedio_df.iterrows():
    print(f"{row['TIENDA']:<20} ${row['VALOR PROMEDIO ENV√çO']:>10,.0f}")

VALOR DEL ENV√çO PROMEDIO
==============================
TIENDA 1             $    26,019
TIENDA 2             $    25,216
TIENDA 3             $    24,806
TIENDA 4             $    23,459
PROMEDIO GENERAL     $    24,875